.navbar-container{
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
    align-items: center;
    background-color: #979797;
    color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    
}

.list-category-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    list-style-type: none;
}

.category-button{
    border: none;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    background-color: #979797;
    color: black;
    border: none;
    padding: 10px 15px;
    border-radius: 25px;
    transition: background-color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
} 
.navbar-container img {
    margin-right: 10px;
}


.category-button:hover {
    background-color: #aaaaaa;
}

